<template>
  <p v-if="!sourcesConfigured">
    {{ t("Configure your widget in the settings") }}
  </p>
  <div v-else class="idioms">
    <span v-if="currentSettings.showTitle">
      <h1>{{ current.title }}</h1>
    </span>

    <span v-if="currentSettings.showMessage">
      <p>{{ current.message }}</p>
    </span>

    <span v-if="currentSettings.showAuthor">
      <small>
        {{
          current.author != null ? current.author : t("Unknown author")
        }}</small
      ><br /><br />
    </span>

    <span v-if="currentSettings.showDate">
      <small>{{ current.date }}</small>
    </span>
  </div>
</template>

<script>
module.exports = {
  name: "idioms",
  props: {
    currentSettings: {
      type: Object,
      required: true,
    },
    records: {
      type: Array,
      required: false
    },
    language: {
      type: String,
      required: true
    },
    locale: {
      type: String,
      required: true
    },
    backendUrl: {
      type: String,
      required: true
    },
    sourcesConfigured: {
      type: Boolean,
      required: true
    }
  },
  data: function() {
    return {
      currentIdx: 0
    }
  },
  computed: {
    merge: function() {
      return this.records.reduce((acc, record) => {
        acc.push(...record.attributes.items);
        return acc;
      }, []);
    },
    current: function() {
      return this.merge[this.currentIdx] || {};
    }
  },
  methods: {
    rotate: function() {
      if (this.currentIdx < this.merge.length) {
        this.currentIdx++;
      } else {
        this.currentIdx = 0;
      }
    }
  },
  beforeMount: function() {
    this.$options.interval = setInterval(this.rotate, 60000);
  },
  beforeDestroy() {
    clearInterval(this.$options.interval);
  },
  locales: {
    deDe: {
      "Configure your widget in the settings":
        "Konfiguriere dein Widget in den Einstellungen",
      "Unknown author": "Unbekannter Autor"
    }
  }
};
</script>

<style scoped>
.idioms p {
  word-break: normal;
}
</style>
